@import "../../styles/flex.scss";
@import "../../styles/mixin.scss";

.wrapper {
  width  : 100%;
  .title {
	text-align  : center;
	font-size   : 22px;
	line-height : 28px;
	font-weight : 400;
	margin-bottom: 32px;
  }

  .error {
	font-size   : 12px;
	line-height : 16px;
	font-weight : 400;
	color       : #e63838;
  }

  .form_wrapper {
	@include flex-column;
	gap: 32px;
  }

  .gender {
	@include flex-column;
	gap: 8px;

	.gender_group_wrapper {
	  @include flex-column;
	  gap: 10px;

	  .gender_group {
		@include flex-align;
		gap: 20px;

		@include breakpoint(tablet){
		  @include flex-column;
		  align-items: unset;
		}
	  }


	  .label {
		font-size     : 12px;
		line-height   : 16px;
		font-weight   : 400;
		color         : rgba(70, 70, 79, 1);
	  }
	}
  }

  .button_text {
	margin-top: 10px;
	font-size     : 12px;
	line-height   : 16px;
	font-weight   : 400;
  }
}